---
layout: default
---

<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="codinglayla/myblog"
        data-repo-id="R_kgDOHFcfiQ"
        data-category="General"
        data-category-id="DIC_kwDOHFcfic4COUmR"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
